<md-toolbar color="primary">
  <span>Angular Material Components</span>
  <span class="fill-row-remaining-space"></span>
  <span>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item> Settings </button>
      <button md-menu-item> Help </button>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
       <md-icon>more_vert</md-icon>
    </button>
  </span>
</md-toolbar>

<md-tab-group>
  <md-tab label="Form controls">
    <md-card>
    	<md-checkbox>Checkbox 1</md-checkbox>
			<md-checkbox>Checkbox 2</md-checkbox>
    	<md-checkbox>Checkbox 3</md-checkbox>
    </md-card>
    <md-card>
      <md-input-container>
      		<input mdInput placeholder="Type a text" maxlength="20" [(ngModel)]="inputText">
      </md-input-container>
    </md-card>
    <md-card>
      <h4>Do you agree?</h4>
      <md-radio-group>
  		  <md-radio-button value="1">Yes</md-radio-button>
  		  <md-radio-button value="2">No</md-radio-button>
  		</md-radio-group>
    </md-card>
    <md-card>
      <md-select placeholder="Choose an option">
        <md-option *ngFor="let option of options"	[value]="option.id">
          {{ option.name }}
        </md-option>
      </md-select>
    </md-card>
    <md-card>
      <md-slider></md-slider>
    </md-card>
    <md-card>
      <md-slide-toggle>Enable option</md-slide-toggle>
    </md-card>
  </md-tab>

  <md-tab label="Other controls">
    <md-card>
      <h4>TODO</h4>
    </md-card>
  </md-tab>
</md-tab-group>
