<form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
  <md-card>
    <md-input-container>
        <input mdInput placeholder="Book name" maxlength="50" ngModel name="name">
    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="Author" maxlength="50" ngModel name="author">
    </md-input-container>
  </md-card>
  <md-card>
    <h4>Categories:</h4>
    <md-list ngModelGroup="categories">
      <md-list-item *ngFor="let category of categories"><md-checkbox [ngModel]="false" [name]="category.id">{{ category.name }}</md-checkbox></md-list-item>
    </md-list>
  </md-card>
  <md-card>
    <h4>Number of pages:</h4>
    <md-slider min="1" max="1000" step="1" thumbLabel tickInterval="auto" [ngModel]="ebook.numberOfPages" name="numberOfPages"></md-slider>
  </md-card>

  <md-card>
    <h4>Format:</h4>
    <md-radio-group ngModel name="format">
      <md-radio-button *ngFor="let format of formats" value="{{format.code}}">{{ format.description }}</md-radio-button>
    </md-radio-group>
  </md-card>
  <md-card>
    <md-select placeholder="Choose an option">
      <md-option *ngFor="let option of options"	[value]="option.id">
        {{ option.name }}
      </md-option>
    </md-select>
  </md-card>
  <md-card>
    <md-slide-toggle>Enable option</md-slide-toggle>
  </md-card>
  <md-card>
    <button type="submit" md-raised-button>Submit</button>
  </md-card>
</form>
